{
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-var": [
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "camelcase": [
      1,
      {
        "properties": "never"
      }
    ],
    "no-unneeded-ternary": [
      1
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "arrow-spacing": [
      1,
      {
        "before": true,
        "after": true
      }
    ],
    "prefer-const": [
      1
    ],
    "comma-dangle": [
      1
    ],
    "semi": [
      2,
      "never"
    ],
    "no-dupe-keys": [
      2
    ],
    "eqeqeq": [
      2,
      "always"
    ],
    "no-console": [
      1
    ],
    "block-spacing": [
      2
    ],
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ]
  }
}